{# src/OC/PlatformBundle/Resources/views/Advert/byebye.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Merci d'avoir visité notre page avec OpenClassrooms !</title>
</head>
<body>
<h1>A Bientot {{ nom }}</h1>

<p>
    Je vous conseille vivement de venir voir nos autre cours sur openclassroom, il y a plein
    d'autre cours qui pourrais vous interessé. A bientot !
</p>
</body>
</html>